<div>

    <h3>Persona que desea ser Contactada</h3>
    <p><strong>Nombres:</strong> <span th:text='${con.nombres}'></span></p>
    <p><strong>Apellidos:</strong> <span th:text='${con.apellidos}'></span></p>
    <p><strong>Teléfono:</strong> <span th:text='${con.telefono}'></span></p>
    <p><strong>Emial:</strong> <span th:text='${con.email}'></span></p>
    <p><strong>Carrera de Interés:</strong> <span th:text='${con.carrera}'></span></p>
    <p><strong>Mensaje:</strong></p>
    <p th:utext='${con.mensaje}'></p>

</div>