<div class="modal fade bs-example-modal-md" tabindex="-1" id="llamameModal" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-content-call text-white">
            <div class="modal-body row">
                <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-md-12 text-center" th:utext="${llamameContent.contenido}">

                    Contenido

                </div>

            </div>
        </div>
    </div>
</div>