<html>
    <head>
        <title>Autenticación de Usuario en Facebook</title>
        <meta http-equiv="refresh" content="4; url=/" />
        <meta name="robots" content="noindex,nofollow"/>
        <meta name="googlebot" content="noindex"/>
    </head>
    <body>
        <h2>Error en la autenticación</h2>

        <p>Ha ocurrido un error en la autenticación, en 4 segundos serás redirigido a la página inicial para que vuelvas a intentarlo. 
            Si no quieres esperar, por favor haz <a href="/">click aquí</a></p>
    </body>
</html>