<div class="row bg-primary">
    <div class="container">
        <ul class="menu_superior">
            <li style="height: 20px ; font-size: 20px">  Contáctenos: 958965164 </li>
            <!--li style="height: 20px ; font-size: 20px">958965164</li-->
            <li style="height: 20px ; font-size: 20px">987776105</li>
            <!--li style="height: 20px ; font-size: 20px">
                <a  href="https://es-la.facebook.com/admisionagrarialamolina/" target="_blank"> <i class="fa fa-facebook"/>  </a>
            </li-->
            <li style="height: 20px ; font-size: 20px" class="search_controls"> <a href="/logout" style="color: white;"> Salir  </a> </li>
        </ul>
    </div>
</div>

<div class="row top-bar">
    <div class="container">
        <div class="col-md-6">
            <div class="logo">
                <a href="#"><img th:src="@{/phobos/images/logo.svg}" class="logo1"/>  </a>
            </div>
        </div>
        <div class="col-md-6" th:if="${!ciclo.esVirtual}">

            <h2 class="h2-bar pull-right" id="procTitle"
                th:text="|Hoja de Recorrido ${ciclo.cicloAcademico.descripcion}|"> Proceso de Admisión 2016-I </h2>
        </div>
        <!--div class="col-md-6" th:if="${ciclo.esVirtual}">

                             <h2 class="h2-bar pull-right" id="procTitle" th:if="${ciclo.esSimulacro}"
                                th:text="|Simulacro Virtual del Concurso de Admisión|"> Simulacro Virtual del Examen Admisión </h2>
            <h2 class="h2-bar pull-right" id="procTitle" th:if="${!ciclo.esSimulacro}"
                                th:text="|Concurso de Admisión Virtual ${ciclo.cicloAcademico.descripcion}|"> Concurso de Admisión Virtual 2020-II </h2>
        </div-->
        
    </div>
</div>